[Unit]
Description=Zabbix Agent
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/local/lnmp/zabbix/sbin/zabbix_agentd
RemainAfterExit=yes
# PIDFile=/var/run/zabbix/zabbix_agentd.pid

[Install]
WantedBy=multi-user.target
